In [1]:
x = 1

### Datatypes 
- int 
- float
- bool
- str 
- Nonetypes
- list 
- tuple
- set 
- dict

In [2]:
a = "Apple"

In [3]:
a = 1000

In [4]:
a = 3.1415

In [5]:
b = True

In [6]:
b = None

In [7]:
b = [1, 2, 3]

In [8]:
c = (1, 2, 3)

In [9]:
d ={1, 2, 3}

In [10]:
e = {'a':'apple','b':'banana'}

### operators in python 
- arthimatic operators
- assignment operators 
- comparison operators
- logical operators 
- identity operators 
- membership operators 
- bitwise operators X

In [11]:
a = 10
b = 3

In [12]:
print(a + b) # add
print(a - b) # sub
print(a * b) # mul
print(a / b) # div (float )
print(a // b) # div (int)
print(a % b) # mod
print(a ** b) # pow

13
7
30
3.3333333333333335
3
1
1000

In [13]:
a = 10 
print(a)
a -= 2
print(a)
a += 4
print(a)
a *= 2
print(a)
a /= 5
print(a)
a //= 2
print(a)
a %= 2
print(a)
a **= 2
print(a)

10
8
12
24
4.8
2.0
0.0
0.0

In [14]:
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a == b)
print(a!=b)
print(0<a<20) # chaining

False
True
True
False
False
True
False

In [15]:
a=100
print(0<a<20)

False

In [16]:
print(name == "raju" and age >= 18)
print(name != "sohan" and age < 18)
print(name != "sohan" or age < 18)
print(name != "sohan" or not  age < 18)
print(not name != "sohan" and not age < 18)

NameError: name 'name' is not defined

In [1]:
a = [ 1,2,3]
b=a
c=a.copy()

In [18]:
print(a is b) # a and b are at same memory location 
print(a is c ) # a and c are at different memory locations 
print(b is c) # b and c are different memory loactons

True
False
False

In [20]:
name = " william shakespeare"

print('pear'in name)
print('shake'in name)
print('Shake'in name )

True
True
False

In [2]:
colors =['red','green','blue ']
print('red' in colors)

True

In [22]:
p = 12000
r = 7
t = 2
si = p*r*t/100
print(si)

1680.0