In [2]:
name = "alexander"
age = 23

- display simple data 
- formatted display

In [3]:
print(name)
print(age)

alexander
23

In [4]:
print(name, age)

alexander 23

In [5]:
print("Your name is ", name)
print('you are' ,age ,'years old')

Your name is  alexander
you are 23 years old

In [6]:
print("Amaan",'Nishant','Ayush','kratagya')

Amaan Nishant Ayush kratagya

In [7]:
print("Amaan",'Nishant','Ayush','kratagya',sep="\n")#new way

Amaan
Nishant
Ayush
kratagya

In [8]:
print("Amaan\nNishant\nAyush\nkratagya")#old way

Amaan
Nishant
Ayush
kratagya

In [9]:
print("Amaan",'Nishant','Ayush','kratagya', sep=" aur ")

Amaan aur Nishant aur Ayush aur kratagya

In [10]:
print(1)
print(2)
print(3)

1
2
3

In [11]:
print(1,end=" ")
print(2)
print(3)

1 2
3

In [12]:
#f string means formatted string

x=5
y=10
z=20

print(x,'+',y,'=',x+y)

5 + 10 = 15

In [13]:
print(f'{x} + {y} = {x+y}')

5 + 10 = 15

In [30]:
p1 = "natasha"
p2 ="Mahak"
print(len(p1))#to known the length (no's) of string 
print(len(p2))

7
5

In [15]:
p1 = "natasha"
p2 ="Mahak"
print(f"{p1} has {len(p1)} chars")
print(f"{p2} has {len(p2)} chars")

natasha has 7 chars
Mahak has 5 chars

In [16]:
p3="sam"
print(f"{p1} = {len(p1)} chars")
print(f"{p2} = {len(p2)} chars")
print(f"{p3} = {len(p3)} chars")

natasha = 7 chars
Mahak = 5 chars
sam = 3 chars

In [17]:
print(f"{p1:10} = {len(p1)} chars") # to set the alignment 
print(f"{p2:10} = {len(p2)} chars")
print(f"{p3:10} = {len(p3)} chars")

natasha    = 7 chars
Mahak      = 5 chars
sam        = 3 chars

In [18]:
print(f"{p1:>10} = {len(p1)} chars") # to set the alignment (right)
print(f"{p2:>10} = {len(p2)} chars")
print(f"{p3:>10} = {len(p3)} chars")

   natasha = 7 chars
     Mahak = 5 chars
       sam = 3 chars

In [19]:
print(f"{p1:^10} = {len(p1)} chars") # to set the alignment (center alignment)
print(f"{p2:^10} = {len(p2)} chars")
print(f"{p3:^10} = {len(p3)} chars")

 natasha   = 7 chars
  Mahak    = 5 chars
   sam     = 3 chars

In [20]:
pi = 22/7                                                 # alt+shift+down (line copy)
print(f'the value of pi is {pi} ')
print(f'the value of pi is {pi:.2f}') # to set decimal places 
print('ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜˜')# windows+ .

the value of pi is 3.142857142857143
the value of pi is 3.14
ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜˜

input

In [31]:
city = input(" which city do you live in ?")

In [32]:
print(f" I live in {city}")

 I live in lucknow

Type Casting

In [23]:
a = 10
print(type(a))
a = bool(a) # convert a to boolean
print(a,type(a))
a = int(a) # convert to int
print(a,type(a))

<class 'int'>
True <class 'bool'>
1 <class 'int'>

In [34]:
name = 'Rohan'
name = bool(name)
print(name)

True

In [25]:
a = "100001"
print(a, type(a))
a = int(a)
print(a,type(a))

100001 <class 'str'>
100001 <class 'int'>

In [26]:
pi = int(pi)
print(pi, type(pi))
pi = float(pi)
print(pi, type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [27]:
a = int(input('Enter a:'))
b = int(input('Enter b:'))
print(a * b)

ValueError: invalid literal for int() with base 10: 'gj'