Comprehension in Pyhton 

**single line code for generation an iterable from an existing iterable**
- list comprehension
- set comprehension
- dictionary comprehension

syntax 1:
```python
new_it = [opeerstion for item in existing_it]
```
syntax 2 :
```python 
new_it = [operation for item in existing_it if condition]

```

In [1]:
a = [1,2,3,4]
a2 = []
for i in a:
    s = i**2
    a2.append(s)
print(a)    
print(a2)

[1, 2, 3, 4]
[1, 4, 9, 16]

In [5]:
a2=[i**3 for i in a]
print(a2)

[1, 8, 27, 64]

In [6]:
names = ['alex','susan','tom','jerry']
shorts = []
for name in names:
    shorts.append(name[:2])
print(names)    
print(shorts)

['alex', 'susan', 'tom', 'jerry']
['al', 'su', 'to', 'je']

In [9]:
shorts = [name[:2]for name in names]
print(names)
print(shorts)

['alex', 'susan', 'tom', 'jerry']
['al', 'su', 'to', 'je']

In [10]:
numbers = [12,4,1,4,5,2,5,6]
sub = [i-10 for i in numbers]
print(numbers)
print(sub)

[12, 4, 1, 4, 5, 2, 5, 6]
[2, -6, -9, -6, -5, -8, -5, -4]

In [12]:
numbers = [12,4,1,4,5,2,5,6]
evens = [i-10 for i in numbers if i%2==0]
print(evens)

[2, -6, -6, -8, -4]

In [14]:
guests = ['raman','sita','gita','hari','rahul','sohan']
guests_i= [name for name in guests if 'i' in name.lower()]
print(guests)
print(guests_i)

['raman', 'sita', 'gita', 'hari', 'rahul', 'sohan']
['sita', 'gita', 'hari']

In [17]:
# dict comprehension 

x = {'a':'apple','b':'banana','c':'cherry'}
x2 = {k:v.upper() for k,v in x.items() }
x2 = {k.upper():v.upper() for k,v in x.items() }
print(x2)

{'A': 'APPLE', 'B': 'BANANA', 'C': 'CHERRY'}

In [19]:
# list to dict 
 
x = [13,3,45,6,5,75,68,34]

xd = {i:v for i,v in enumerate(x)}
print(x)
print(xd)

[13, 3, 45, 6, 5, 75, 68, 34]
{0: 13, 1: 3, 2: 45, 3: 6, 4: 5, 5: 75, 6: 68, 7: 34}

In [20]:
x = [13,3,45,6,5,75,68,34]
y = ['a','b','c','d','e']
xd = {i2:i1 for i1,i2 in zip(x,y)}
print(x)
print(xd)

[13, 3, 45, 6, 5, 75, 68, 34]
{'a': 13, 'b': 3, 'c': 45, 'd': 6, 'e': 5}

In [21]:
x = (1,2,3)  # generator change into list , tuple.
x2 = (i**2 for i in x)
list(x2)

[1, 4, 9]

In [22]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]